/****
page-anim.css
****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: calc(1vw + 1vh + .5vmin);
}

body {
  font: 1rem/1.6 sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
  /* overflow: hidden; */

}

[data-page] {
  position: absolute;
  /* or absolute if the content exceeds the height of the page */
  width: 100%;
  min-height: 100vh;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  /*
    left: 100%;
    transition: left 1.0s ease-in; 
    */
  z-index: 10;
}


[data-page="home"] {
  background-color: hsl(90, 70%, 20%);
  color: hsl(90, 90%, 90%);
}

[data-page="Experience"] {
  background-color: hsl(198, 56%, 47%);
  color: hsl(269, 79%, 39%);
}

[data-page="Projects"] {
  background-color: hsl(354, 47%, 54%);
  color: hsl(90, 90%, 90%);
}

[data-page="Quotes"] {
  background-color: hsl(272, 15%, 19%);
  color: hsl(90, 90%, 90%);
}

[data-page="Resume"] {
  background-color: hsl(0, 0%, 13%);
  color: hsl(90, 90%, 90%);
}

[data-page].active {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  /**
    left: 0;
    **/
  z-index: 10;
}



[data-role="link"] {
  color: white;
}

section {
    width: 100%;
}

section h1 {
  /* padding: .35rem; */
  text-align: center;
}

section p {
  padding: .65rem 2rem;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(57, 56, 56, 0.5);
  /*
  background: #393838;
    */
}

nav ul li {
  display: inline-block;

}

nav ul li a {
  color: rgba(255, 255, 255, 0.45);
  font-size: .888rem;
  display: block;
  text-decoration: none;
  padding: 6px 15px;
}

nav ul li a:hover {
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
  text-align: right;
  /*  Align the list items to the left */
}


/*
.pic_border {
  background-color: rgb(184, 0, 0);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(214, 10, 10, 0.1);
  padding: 5px;
  max-width: 320px;
  margin: 0 auto;
  position: absolute;
  left: 50px;
}
.picture-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  left: 50px;
  text-align: center;
}

.picture-card img {
  width: 100%;
}

}
.picture-card .description {
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0,1);
  font-size: 1.2em;
}

.picture-card .h2 {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.picture-card .p {
  font-size: 10px;
  color: #666;
}
*/

.outer-container {
  width: 90%;
  /* Adjust this percentage as needed */
  max-width: 900px;
  /* Maximum width of the outer container */
  transform: translateX(5%);
  /* Move the container 50px to the left */
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  /* Space between the card and the side text */
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 30%;
  /* Ensure the card has a fixed width as a percentage of the container */
  perspective: 1000px;
  /* Perspective for the 3D effect */
}

.image-container {
  width: 100%;
  padding-top: 100%;
  /* This makes the container a square */
  position: relative;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.side-text {
  flex: 1;
  /* Take up the remaining space */
  padding: 10px;
  border-radius: 5px;
  font-size: 0.65em;
  color: #828282;
  /* Text color */
  transform: translateY(-10%);
}

.card .h2 {
  margin-top: 10px;
  font-size: 14px;
  color: #1a1a1a;
}

.card .p {
  font-size: 10px;
  color: #666;
}

.card-text {
  background-color: rgba(0, 0, 0, 0.7);
  /* Adjust the opacity by changing the last value */
  color: white;
  padding: 10px;
  font-size: 1.2em;
  margin-top: 10px;
  /* Space between image and text */
}


.iframe-container {
  position: relative;
  width: 70%;
  /* Set the width of the container */
  height: 600px;
  /* Set the height of the container */
  padding: 20px;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ifra-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
}

p4 {
  font-size: .75em;
  color: #000000;
}

.nm-text {
  font-size: 1.25em;
  color: #e6fccf;
  padding: 10px;
}


.outer-container2 {
  width: 80%;
  /* Adjust this percentage as needed */
  /* max-width: 1800px; /* Maximum width of the outer container */
  /*transform: translateX(5%);  Move the container 50px to the left */
  display: grid;
  place-items: center;
  margin: auto;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Space between the card and the side text */
  width: 100%;
}

.flip-card {
  background-color: transparent;
  width: 40vw;
  max-width: 500px;
  height: 40vw;
  /* Same as width to maintain aspect ratio */
  max-height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
 */
/* This code works to rotate the card if it has the flipped attribute */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/*
.flip-card.clicked .flip-card-inner {
  transform: rotateY(180deg);
}
*/

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.flip-card img {
  /* max-width: 100%;
  max-height: 100%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Ensure the image covers the area without stretching */
}

.ifra-container2 {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically, optional */
  width: 100%;
  height: auto;
}

.flip-card h1 {
  font-size: 1em;
}

.flip-card p {
  font-size: 0.85em;
}

.padd {
  padding: 1em;
  /* put in between the cards to make acceptable padding without adding padding to the cards */
}


.slider-container {
  position: relative;
  width: 60%;
  max-width: 600px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide.active {
  display: flex;
}

.slide img {
  width: 100%;
  border-radius: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.randomBounce {
  position: absolute;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline */
  color: inherit;
  /* Inherit the text color from parent elements */
}

canvas {
  background-color: #F08080;
  width: 600px;
  height: 400px;
  position: absolute;
  top: 20%;
  left: 20%;
}
iframe{
  display: none
}